*{padding: 0;margin: 0;}
ul dl dd dt li ol{list-style: none;}
a{text-decoration: none;}
.box{
	height: 1400px;
	width: 1000px;
	background-color: rgb(243,243,243);
	margin: 0 auto;
	clear: both;
	}
.top{
	width: 1000px;
	height: 100px;
	background-color:chartreuse;
}
.top img{
	position: absolute;
	top: 20px;
	left: 30%;
}
.top li{
	float: left;  margin-left: 30px;
	position:relative;
	left: 680px;
	top: -80px;
	color: white;
}
.top li:hover{
	color: red;
}
/*==========================nav*/
.nav{
	height: 50px;
	width: 1000px;
	background-color: white;
	margin-bottom: 20px;
}
.nav ul{
	clear:left;
	margin-left:7%;
	

}
.nav li{
	background: url(../img/li.png) no-repeat right center;
	/*text-align: center;*/
	display: inline-block;
	width: 80px;
	font:16px/1.5 "微软雅黑";/*行高可设1.5*/
	/*border-right:3px dashed;*/
	color: rgb(144,29,120);
}

.nav li:hover{
	
	background-color: rgb(0,148,54);
	border-radius: 4px 4px;
}
/*=======================================banner*/
.banner{
	height: 270px;
	width: 878px;
	background-color: gold;
	margin: 0 auto;
	
}
/*=================span1*/
.span1{
	height: 45px;
	width: 900px;
	border-bottom: 3px dotted darkgray;
	background-color: white;
	padding-left: 30px;
}
.span1 span{
	background: url(../img/point2_03.png) no-repeat left center;
	font:bold 18px/3 "微软雅黑" ;
	color: rgb(1,93,56);
	padding-left: 20px;
}
.span1 span:nth-child(1){
	/*margin-left: 50px;*/
}
.span1 span:nth-child(2),.span2 span:nth-child(2){
	margin-left: 55%;
}
.span1 b{
	font:bold 13px/3 "微软雅黑" ;
	color: rgb(1,93,56);
}
/*============================main1*/
.main{
	height: 440px;
	width: 930px;
	background-color: saddlebrown;
	margin: 0 auto;
}
.main1{
	margin-top: 20px;
	width: 100%;
	height: 172px;
	background-color: skyblue;
}
.main1 img{
	float: left;
	margin-right: 6%;
}
.main1 ul{
	float: left;
	width: 300px;
}
.main1 li span{
	float: right;
}
.main1 li{
	background: url(../img/point2_03.png) no-repeat left center;
	padding-left: 30px;
	list-style: none;
	margin-top: 7px;
}
.main1 span{
	margin-left: 20px;
}
.main1_right{
	float: right;
	width: 250px;
	height: 100%;
	background-color: slateblue
}
.main1 p{
	float: right;
	font: 13px/2 "微软雅黑";
	width: 100px;
}
/*========================================span2*/
.span2{
	width: 930px;
	background-color:rgb(1,93,56);
	border-radius: 12px;
	font:bold 18px/3 "微软雅黑" ;

}
.span2 b{
	font:bold 13px/3 "微软雅黑" ;
}
.span2 span{
	padding-left: 50px;
	background:url(../img/many_06.png) no-repeat left center;
	color: white;
}
/*==============================================main2*/
.main2{
	width: 100%;
	height: 150px;
	background-color: salmon;
	margin-top: 20px;
}
/*.main2_left{
	height: 100%;
	width: 70%;
	background-color: navajowhite;
	float: left;*//*---------=================================重要*/
}
dl dt {
	width: 20%;
	float: left;
}
dl dd{
	width: 140px;
	margin-left: 30px;
	margin-right: 5%;
	float: left;
}
.main2 img{
	float: left;
}
.main2 ul{
	height: 100%;
	width: 200px;
	float: right;
	margin-right: 30px;
}
.main2 li{
	background: url(../img/point2_03.png) no-repeat left center;
	padding-left: 12px;
	list-style: none;
	margin-top: 1px;
}
.main2 span{
	margin-left: 5px;
	float: right;
}
/*==========================================link*/
.link{
	padding-top: 20px;
	height: 50px;
	width: 100%;
	background-color: seagreen;
	/*float: left;*//*???????????为什么*/
	line-height: 20px;
	float: left;
}
.link .a{
	height: 100%;
	width: 10%;
	float: left;
}
.footer{
	height: 100px;
	background-color: red;
	margin-top: 91px;
	}

/*行高可设1.5*/