.logo{
	width: 100%;
	height: 93px;
	background-color:white;
}
.logo ul{
	width: 580px;
	height: 92px;
	float: right;
	font: 18px/5 "微软雅黑";
}
.logo ul li{
	float: left;
	margin-right: 36px;
}
.logo ul a{
	color: black;
}
.img1{
	float: left;
	margin-left:33px ;
	margin-top: 13px;
}
.img2{
	float: right;
	margin-right:54px;
}
.banner{
	width: 100%;
	height: 370px;
	overflow: hidden;
}
.banner img{
	width: 100%;
	
}
.main1{
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
	height: 155px;
}
.main1 li{
	height: 155px;
	float: left;
	width: 24.96%;
	background-color: #c9d2d5;
	
}
.main1 li a{
	display: block;
}
.li1{
	border-right: 1px solid white;
}
.main2{
	width: 100%;
	height: 346px;
}
.main22{
	width: 1198px;
	height: 269px;
	margin: 0 auto;
}
.main22 ul{
	float: left;
	margin-top: 10px ;
	width: 1055px;
}
.main22 ul li{
	float: left;
}
.main22 p{
	font:bold 29px/1 "微软雅黑";
	float: left;
}
.li4{
	color: #C9D2D5;
}
.main22 ul a{
	margin: 0px 12px;
	font: 20px/1 "微软雅黑";
}
.main22 ul a:hover{
	color: white;
	background-color: blue;
	border-radius: 5px;
}
#img3{
	float: right;
}
.main22 img{
	float:left ;
	margin-right: 28px;
}
.main22 .im4{
	margin-right: 0px;
}
#img4{
	margin-right: 0px;
}
.main22 a{
	
}
.img3{
	margin-top: 30px;
	float: left;
	width: 305px;
	height: 208px;
}
.main22 #img33{
	width:280px ;
}
.main3{
	width: 100%;
	height: 328px;
}
.main33{
	
	width: 29.3%;
	height: 257px;
	float: left;
	margin:50px 2%;
	
}
.main33 h5{
	font: 27px/1 "微软雅黑";
}
.main33 img{
	float:right;
	/*margin-left: 106px;*/
}
.main33 ul{
	height: ;
	margin-top: 33px;
}
.main33 ul li{
	/*margin-top: 13px;*/
	height: 30px;
	/*width: 348px;*/
	padding-left: 15px;
	background: url(../img/w_06.png)no-repeat left center;
}

.main33 ul a{
	font: 18px/1.3 "微软雅黑";
	
}
.main33 ul span{
	float: right;
	background: url(../img/w_10.png) no-repeat center;
	font: 13px/2 "微软雅黑";
}
#main33a{
	margin-left: 23px;
}
#main33c{
	margin-right: 23px;
}
#ul1 li{
	margin-bottom: 0px;
}
#img5{
	float: left;
	margin-top:25px ;
}
.banner1{
	width: 100%;
	height: 247px;
	overflow: hidden;
}
.banner1 img{
	width: 100%;
	
}
.footer1_{
	width: 100%;
	height: 289px;
}
.footer1{
	width: 1095px;
	height: 268px;
	margin: 40px auto;
}
.footer1 dl{
	width: 830px;
	height: 260px;
	text-align: center;
	float: left;
}
.footer1 dl dt{
	float: left;	
    padding: 0px 45px;
    
	border-right: dotted 1px #C9D2D5;
}
.footer1 dl dt p{
	display: block;
	font:500 17px/1 "微软雅黑";
	margin-bottom: 32px;
	color:skyblue;
}
.footer1 dl ul a{
	font: 15px/2 "微软雅黑";
}
.footer1 img{
	float: left;
	margin: 50px;
}
.footer{
	width: 100%;
	height: 43px;
	background-color: black;
	text-align: center;
}
.footer pre{
	color: white;
	font: 15px/2 "微软雅黑";
}
